<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="container">
    <div class="row">
        <div class="col">
            <h1>Sistema de Avaliação de Hotel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/acomodacao/add">Adicionar Acomodação</a></li>
                <li><a href="/acomodacao/list">Listar Acomodações</a></li>
            </ul>
        </div>
        <div class="col-10">
            
</html>