<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação de Hotel</title>
</head>
<body>
    <%-include('cabecalhoIndex.ejs') %>
    <section id="destaques">
        <h2>Descubra os Melhores Hotéis</h2>
        <p>Explore os melhores hotéis escolhidos pelos viajantes.</p>
    </section>

    <section id="como-funciona">
        <h2>Como Funciona</h2>
        <p>Participe e compartilhe suas experiências em hotéis conosco! 
            No cabeçalho a direita você consegue escolher qual opção melhor satisfaz seus objetivos. Venha fazer com que o mundo conheça o seu hotel
            Ou desfrute dos hotéis com maiores avaliações com apenas um click!
            Criamos o site que simplificara mais do que nunca sua vida e suas viajens.</p>
    </section>
</body>
<% include('../rodape.ejs') %>
</html>
